n8n-workflows/workflows/openai-analytics/openai_analytics_nodes_basic_usage.json
{
  "name": "OpenAI Analytics 노드 사용법",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        0
      ],
      "id": "7a33aa81-6fc5-4f6f-8065-bfd0dc76d11c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer $OPENAI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"gpt-4.1\",\n  \"input\": [\n    {\n      \"role\": \"system\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"너는 사용자가 키워드를 입력하면 해당 정보의 웹정보를 검색하여 최신 트렌드 한줄 요약과 핵심키워드와 검색량을  json 레코드로 출력하는 비서야. 아래 json 양식에 맞춰 응답해줘.\\n\\n* json 응답 형식 (예시)\\n{\\n    \\\"trend_summary\\\" : \\\"....\\\",  # 최신트렌드 요약 200자 내외\\n    \\\"keywords\\\" : {   # 핵심키워드 (검색량)\\n          \\\"키워드1\\\" : 10, \\n         \\\"키워드2\\\":  20,\\n         ...\\n     }\\n}\"\n        }\n      ]\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": \"AI 자동화 트렌드\"\n        }\n      ]\n    }\n  ],\n  \"text\": {\n    \"format\": {\n      \"type\": \"text\"\n    }\n  },\n  \"reasoning\": {},\n  \"tools\": [\n    {\n      \"type\": \"web_search_preview\",\n      \"user_location\": {\n        \"type\": \"approximate\",\n        \"country\": \"KR\"\n      },\n      \"search_context_size\": \"high\"\n    }\n  ],\n  \"temperature\": 1,\n  \"max_output_tokens\": 2048,\n  \"top_p\": 1,\n  \"store\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -340
      ],
      "id": "e6adbe56-521c-4333-b107-12742558bb07",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "RAiMcyv52LiT8VU4",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Responses API + Json Parse + Quick Chat 시각화",
        "height": 260,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -400
      ],
      "id": "1823f0ce-98df-4910-89c6-66b83d26ca00",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "labelsMode": "array",
        "labelsArray": "={{ $json.parsed_result.keywords.keys() }}",
        "data": "={{ $json.data.keywords.values() }}",
        "chartOptions": {
          "backgroundColor": "#ffffff"
        },
        "datasetOptions": {
          "backgroundColor": "#505aec"
        }
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        720,
        -340
      ],
      "id": "6362de06-6d19-45a5-a0c6-fe5c61adc196",
      "name": "QuickChart",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "resource": "text",
        "jsonInput": "={{ $json.output[1].content[0].text }}"
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        500,
        -340
      ],
      "id": "2e167ca1-d3dd-4a3d-8d59-2ff7507b95db",
      "name": "JSON 파싱",
      "credentials": {
        "openAiApi": {
          "id": "lKqWDEfIZahqSJlx",
          "name": "OpenAi account B"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "resource": "embedding",
        "inputType": "multipleTexts",
        "texts": [
          "n8n",
          "automation"
        ],
        "options": {}
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        280,
        -40
      ],
      "id": "cbd16efa-f7ae-4659-9d46-d970c97b90e0",
      "name": "단어 임베딩",
      "credentials": {
        "openAiApi": {
          "id": "lKqWDEfIZahqSJlx",
          "name": "OpenAi account B"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 텍스트 임베딩과 유사도 계산",
        "height": 260,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        -100
      ],
      "id": "03e0350b-c074-4830-87cb-21c4cdbe20fd",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "resource": "embedding",
        "operation": "embeddingBasedClassify",
        "embeddingTargetText": "축구는 인기있는 스포츠입니다.",
        "embeddingCategoriesMode": "saved",
        "embeddingCategories": {
          "values": [
            {
              "category": "국어"
            },
            {
              "category": "영어"
            },
            {
              "category": "수학"
            },
            {
              "category": "체육"
            }
          ]
        },
        "embeddingThreshold": 0.1
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        540,
        280
      ],
      "id": "69aa4faf-98d4-4eb3-959c-0ec6686f093f",
      "name": "임베딩 기반 카테고라이징",
      "credentials": {
        "openAiApi": {
          "id": "lKqWDEfIZahqSJlx",
          "name": "OpenAi account B"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "resource": "embedding",
        "operation": "llmBasedClassify",
        "llmTargetText": "축구는 인기있는 스포츠입니다.",
        "llmCategories": {
          "values": [
            {
              "category": "국어"
            },
            {
              "category": "영어"
            },
            {
              "category": "수학"
            },
            {
              "category": "체육"
            }
          ]
        }
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        280,
        280
      ],
      "id": "11362636-c75b-4154-b975-3cd5fe3af2ea",
      "name": "언어모델 기반 카테고라이징",
      "credentials": {
        "openAiApi": {
          "id": "lKqWDEfIZahqSJlx",
          "name": "OpenAi account B"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 텍스트 데이터 분류 (카테고라이징)",
        "height": 260,
        "width": 1660
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        200
      ],
      "id": "06da1827-987a-4f22-84ce-07388b245fef",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EAm3rTmvNl4ZRQkdYovUdfIYrrtseUr2dJlEihCISfI",
          "mode": "list",
          "cachedResultName": "상품 리뷰 DB",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EAm3rTmvNl4ZRQkdYovUdfIYrrtseUr2dJlEihCISfI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1509395186,
          "mode": "list",
          "cachedResultName": "7416052718",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EAm3rTmvNl4ZRQkdYovUdfIYrrtseUr2dJlEihCISfI/edit#gid=1509395186"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        780,
        280
      ],
      "id": "72924f5a-784e-48ba-a956-a71c2667edc1",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RPDt3rL1xfWaPW5s",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "resource": "embedding",
        "operation": "embeddingBasedClassify",
        "embeddingTargetText": "={{ $json.review }}",
        "embeddingCategories": {
          "values": [
            {
              "category": "배송"
            },
            {
              "category": "가격"
            },
            {
              "category": "품질"
            },
            {
              "category": "기타사항"
            }
          ]
        },
        "embeddingThreshold": 0.1
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        1000,
        280
      ],
      "id": "a943421c-2590-41cf-a785-5b0197cd673b",
      "name": "OpenAI Analytics1",
      "credentials": {
        "openAiApi": {
          "id": "lKqWDEfIZahqSJlx",
          "name": "OpenAi account B"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "labelsMode": "array",
        "labelsArray": "={{ $json.keys() }}",
        "data": "={{ $json.values().map(e => e[\"count_category\"]) }}",
        "chartOptions": {
          "backgroundColor": "#ffffff"
        },
        "datasetOptions": {
          "label": "리뷰분석"
        }
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        1500,
        280
      ],
      "id": "c4ee6e49-43ac-4e49-93f7-80a059d61d6c",
      "name": "QuickChart1",
      "disabled": true
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "=category"
            }
          ]
        },
        "fieldsToSplitBy": "category",
        "options": {
          "outputFormat": "singleItem"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1260,
        280
      ],
      "id": "997b918f-e77a-4ddf-9b2d-205afc2192e8",
      "name": "Summarize",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 레포트 생성",
        "height": 260,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        500
      ],
      "id": "25372dd2-a26f-45e8-b24e-705ca01815ca",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "resource": "report",
        "reportInputText": "이노바인코리아∙서울 강남구∙경력 1년\n\n\n\n[애드크래프트] 퍼포먼스 마케터\n포지션 상세\n[애드크래프트 소개]\n애드크래프트는 이노바인코리아의 인하우스 광고 대행사로, 효율적이고 창의적인 광고 컨설팅을 통해 브랜드 가치를 극대화하는 것을 목표로 하고 있어요.\n\n우리는 데이터 기반의 마케팅 전략과 창의적인 크리에이티브 제작을 바탕으로, 빠르게 변화하는 광고 시장에서 독보적인 성과를 창출하고 있습니다. 특히, 제누 단백질 커피와 같은 브랜드의 성공적인 캠페인을 통해 광고 업계의 주목을 받고 있으며, TV 광고, 디지털 콘텐츠, 브랜딩 전략까지 다양한 분야에서 전문성을 발휘하고 있답니다.\n\n이러한 애드크래프트에서 성공적인 캠페인 경험을 함께 쌓아갈 실무형 인재를 기다려요.\n\n\n[미디어팀 소개]\n• 해당 포지션 합격자는 이노바인코리아 자회사 '애드크래프트'의 미디어팀에 소속될 예정이에요.\n• 미디어팀에는 총 7명의 구성원이 함께하며, 미디어 영업 (광고 상품 세일즈) 및 제안, 매체 계약/집행 등의 업무를 수행하고 있어요.\n주요업무\nㆍ Google, Naver 등 검색광고 캠페인 운영\nㆍ Meta, Kakao 등 디스플레이/소셜 캠페인 기획 및 운영\nㆍ 캠페인 성과 분석 및 리포트 작성\nㆍ 고객사의 비즈니스 목표에 맞춘 퍼널 분석 및 전략 제안\nㆍ 광고 소재 테스트 및 A/B 실험 설계\nㆍ 광고 매체사 및 고객사 커뮤니케이션\n자격요건\nㆍ 퍼포먼스 마케팅 실무 경력 1년 이상 (직접 캠페인을 운영한 경험 필수)\nㆍ Naver 파워링크, Google Search Ads 등 검색광고 실무 경험자\nㆍ 브랜드 키워드 운영, 전환 최적화, 키워드 전략 경험\nㆍ Meta, Kakao 등 디지털 광고 매체 운영 경험\nㆍ광고 성과를 논리적으로 설명하고, 고객과 원활히 소통할 수 있는 분\n\n상세 정보 더 보기\n태그\n\n식대지원\n\n사내동호회\n\n자유로운휴가\n\n휴가비\n\n보너스\n\n커피·스낵바\n\n51~300명\n\n설립4~9년\n\n자기계발지원\n\n편의시설\n\n건강검진지원\n\n유급휴가\n\n인원 급성장\n\n연봉 업계평균이상\n마감일\n상시채용\n근무지역\nNAVER\n© NAVER Corp.\n서울특별시 강남구 도산대로4길 13\n\n이노바인코리아\n판매, 유통\n\n팔로우"
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        280,
        560
      ],
      "id": "9c02814a-75fc-4022-b91b-ae6f5dee0627",
      "name": "자동 레포트 생성",
      "credentials": {
        "openAiApi": {
          "id": "lKqWDEfIZahqSJlx",
          "name": "OpenAi account B"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## OpenAI Python 분석 ( Assistants API Code 인터프리터 )",
        "height": 260,
        "width": 1400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        800
      ],
      "id": "e5e1321a-4c5b-495b-9fb7-1efc67a34e38",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "operation": "createAssistant",
        "assistantName": "리뷰 분석기",
        "assistantDescription": "상품 리뷰 데이터를 분석",
        "assistantInstructions": "너는 상품 리뷰 데이터를 분석하는 분석가야.\n사용자가 분석요청하는 리뷰데이터의 단어들을 토크나이징해서, TF-IDF 기준으로 점수가 높은 단어 10개를\nPython 으로 분석해줘.\n결과는 json 양식을 사용해서 출력해줘. \n```json ... ``` 같은 코드 블록 문자열이나 기타 부연 설명은 생성하지 말고 오직 Json 문자열만 생성해줘.\n\n* json 응답형식\n{\n   \"배송\" : 13.123,\n   \"만족\" : 12.33,\n   ...\n}",
        "assistantModel": "gpt-4.1",
        "useCodeInterpreter": true,
        "useRetrieval": true,
        "responseFormatType": "json_object",
        "useAdvancedSettings": true,
        "temperature": 0.3,
        "topP": 0.9,
        "useFileAttachments": true,
        "assistantFileIds": "={{ [$json.id] }}"
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        700,
        880
      ],
      "id": "ca131fdf-48e5-41d9-84a0-c56a39ee8e38",
      "name": "리뷰 분석 어시스턴트 생성",
      "credentials": {
        "openAiApi": {
          "id": "RAiMcyv52LiT8VU4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "resource": "thread",
        "operation": "createAndRunThread",
        "threadInitialMessage": "=첨부한 파일의 상품리뷰 분석을 해줘.\nreview 열에 텍스트 문서가 저장되어 있어.",
        "threadFileAttachmentMethod": "uploadFiles",
        "threadAssistantSelection": "byId",
        "threadAssistantId": "={{ $('리뷰 분석 어시스턴트 생성').item.json.assistant.id }}",
        "threadMaxPollTime": 300
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        1140,
        880
      ],
      "id": "94c788e6-0961-4e18-bf35-d9de3e5a2d33",
      "name": "분석 스레드 실행",
      "credentials": {
        "openAiApi": {
          "id": "RAiMcyv52LiT8VU4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/users/dante/downloads/tfidf.md",
        "options": {
          "fileName": "tfidf.md"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        280,
        880
      ],
      "id": "0c470602-421c-4189-bbe3-27ef55f8a1cd",
      "name": "분석방법론 파일로드"
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "resource": "file",
        "operation": "uploadFile"
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        480,
        880
      ],
      "id": "2ef9bcd3-081c-4ed9-bb60-6d0a15bb74ff",
      "name": "파일업로드",
      "credentials": {
        "openAiApi": {
          "id": "RAiMcyv52LiT8VU4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/users/dante/downloads/reviews.csv",
        "options": {
          "fileName": "reviews.csv"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        920,
        880
      ],
      "id": "c00524e6-7fd8-423c-8442-b1c3a3f938c4",
      "name": "분석대상 데이터로드"
    },
    {
      "parameters": {
        "labelsMode": "array",
        "labelsArray": "={{ JSON.parse($json.messages[0].content[0].text).keys() }}",
        "data": "={{ JSON.parse($json.messages[0].content[0].text).values() }}",
        "chartOptions": {
          "backgroundColor": "#ffffff"
        },
        "datasetOptions": {
          "backgroundColor": "#f5acac",
          "label": "리뷰 핵심키워드"
        }
      },
      "type": "n8n-nodes-base.quickChart",
      "typeVersion": 1,
      "position": [
        1360,
        880
      ],
      "id": "a71c1bac-ac51-4cea-8d11-e3e5683f6fdb",
      "name": "QuickChart2"
    },
    {
      "parameters": {
        "content": "# 단테랩스 n8n 데이터분석 노드 주요 기능 사용법\n### n8n-nodes-openai-analytics\n\n",
        "height": 120,
        "width": 1100,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -760
      ],
      "id": "5395033c-171d-4dc6-b151-c94f845ff464",
      "name": "Sticky Note5",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "openAiApi",
        "resource": "embedding",
        "operation": "cosineSimilarity",
        "cosineInputType": "jsonPath",
        "vector1Path": "data[0].embedding",
        "vector2Path": "data[1].embedding"
      },
      "type": "n8n-nodes-openai-analytics.openAIAnalytics",
      "typeVersion": 1,
      "position": [
        520,
        -40
      ],
      "id": "c0e90268-d097-4636-baad-a8fd3fee6f26",
      "name": "단어 유사도 계산",
      "credentials": {
        "openAiApi": {
          "id": "RAiMcyv52LiT8VU4",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "단어 임베딩",
            "type": "main",
            "index": 0
          },
          {
            "node": "언어모델 기반 카테고라이징",
            "type": "main",
            "index": 0
          },
          {
            "node": "자동 레포트 생성",
            "type": "main",
            "index": 0
          },
          {
            "node": "분석방법론 파일로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "JSON 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON 파싱": {
      "main": [
        [
          {
            "node": "QuickChart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "단어 임베딩": {
      "main": [
        [
          {
            "node": "단어 유사도 계산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "임베딩 기반 카테고라이징": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "언어모델 기반 카테고라이징": {
      "main": [
        [
          {
            "node": "임베딩 기반 카테고라이징",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "OpenAI Analytics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Analytics1": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "QuickChart1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "리뷰 분석 어시스턴트 생성": {
      "main": [
        [
          {
            "node": "분석대상 데이터로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분석방법론 파일로드": {
      "main": [
        [
          {
            "node": "파일업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일업로드": {
      "main": [
        [
          {
            "node": "리뷰 분석 어시스턴트 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분석대상 데이터로드": {
      "main": [
        [
          {
            "node": "분석 스레드 실행",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분석 스레드 실행": {
      "main": [
        [
          {
            "node": "QuickChart2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ccbe675-f48a-45d1-8191-7bdf0fe2e64c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae59e3c4dbc3b4aab3d81fc78280645903de4834ef0fa1a8e01178181c7a57a4"
  },
  "id": "C42IxxLmg2z4BI3t",
  "tags": [
    {
      "createdAt": "2025-05-13T21:48:46.312Z",
      "updatedAt": "2025-05-13T21:48:46.312Z",
      "id": "17aNPkNcl3APRz42",
      "name": "데이터분석"
    }
  ]
}